<ul class='city'>
  <li *ngFor="let city of cities" [class.selected]="city === selectedCity" (click)="onSelect(city)">
    <span class="badge">{{city.country}}</span> {{city.name}}
  </li>
</ul>

<div *ngIf="city">
  <h2>{{city.city.name}}</h2>
  <div *ngFor="let data of city.list" class="temperature">
    <div>
      <label>temp: </label>{{data.main.temp}}
    </div>
    <div>
      <p>Min: {{data.main.temp_min}}, Max: {{data.main.temp_max}}</p>
      <!-- <input [(ngModel)]="city.name" placeholder="name" /> -->
    </div>
  </div>

  <div>
    <button (click)="goBack()">Back</button>
  </div>
</div>